.quiz-wrapper {
    display: flex;
    flex-direction: column;
}

.quiz-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quiz-content {
    flex-direction: column;
}

.hidden {
    display: none;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}